@import "./sideNav";
@import "./landingPage";
@import "./contactPage";
@import "./projectsPage";
@import "./animations/animatedBurger";
@import "./animations/animatedCircles";
@import "./animations/animatedSun";
@import "./projects/hsProject";
@import "./projects/portfolio2022";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #1b1b1b;
  --background-color-aside: #161616;
  --accent: #00dfb6;
  --special: #ba3b46;
  --text-color: #fafafa;
  --special-text: #8b8b8b;
  --background-text: #6a6a6a;
  font-size: 62.5%;
}

html {
  background-color: var(--background-color);
}
.App {
  background-color: var(--background-color);
  color: var(--text-color);
}
