.hsVideo {
  z-index: 1;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  border-radius: 20px;
  opacity: 0.1;
}

h3 {
  font-size: 2.5rem;
}

p {
  color: var(--special-text);
  margin-top: 10px;
  font-size: 1.4rem;
}

.card:hover .hsVideo {
  opacity: 1;
}
